@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="mt-4">
        <div>Total Users Connected:</div>
        <div id="totalUserNumber" class="h2 font-weight-bold">0</div>
    </div>
</div>

@section Scripts {
    <script src="~/js/signalr.min.js"></script>
}
